<a href="/calendar/events/<%=event._id%>"><h5><%= event.name %></h5></a>
<table class="_event">
    <tr >
        <td class="when_where">Where?:</td><td class="event_infor"><%= event.location %></td>
    </tr>
    <tr>
        <td class="when_where">When?:</td><td class="event_infor"><%= event.time %></td>
    </tr>
</table>