<div class ="calendarMenu">
	
	<button type="button"class ="calendarHeading" id="create_event">
		<span class="glyphicon glyphicon-star"></span>
		<a href="/addEcent">Create Event</a>
	</button>
    
	<h2 class ="calendarHeading" id="month"><%=calendarMonth %></h1>
	
	<button type="button"class="calendarHeading" id="prevMonth">
		<span class="glyphicon glyphicon-star"></span>
		<a href="/addEcent"><</a>
	</button>
	
	<button type="button"class ="calendarHeading" id="nextMonth">
		<span class="glyphicon glyphicon-star"></span>
		<a href="/addEcent">></a>
	</button>
</div>