<div class ="calendarMenu">
	<a href="/addEvent">
		<button type="button" class ="calendarbtn" id="create_event">Create Event</button>
	</a>
	
	<h3 class ="calendarHeading" id="month"><%=calendarMonth %></h3>
	
	<a href="/prevMonth">
		<button type="button"class="calendarbtn" id="prevMonth"><</button>
	</a>
	
	<a href="/nextMonth">
		<button type="button" class="calendarbtn" id="nextMonth">></button>
	</a>
</div>