<table id = "calendar">
    <tr id = "calendar_heading">
        <th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th>
    </tr>
    <%
    var i = 0;
    month.forEach(function(week) {
        if (String(week) !== String(["","","","","","",""])) {
    //console.log(week);
            %> 
            <tr>
                <% week.forEach(function(day) { %> 
                    <td class="date">
                        <div class="event">
                            <ul>
                                <li> <a href="/calendar/<%= day %>"> <%= day %>  </a> </li>
                                <% events[i].forEach(function(event) { %>
                                    <li>  <%= event.name %>   </li>
                                <% }); %>
                            </ul>
                        </div>
                    </td>
                <% i = i+1;}); %>
            </tr>
    <% }}); %>
</table>