<div class ="calendarMenu">
	
	<button type="button"class ="calendarHeading" id="create_event">
		<span class="glyphicon glyphicon-star"></span>
		<a href="/addEvent">Create Event</a>
	</button>
    
	<h2 class ="calendarHeading" id="month"><%=calendarMonth %></h1>
	
	<a href="/prevMonth">
	<button type="button"class="calendarHeading" id="prevMonth"><</button>
	</a>
	
	<a href="/nextMonth">
	<button type="button" class="calendarHeading" id="nextMonth">></button>
	</a>
	</button>
</div>