<div class ="dateMenu">
	<a href="/addEvent/<%=date%>">
		<button type="button" class ="dateHeading" id="create_event">Create Event</button>
	</a>
	<h2 class ="dateHeading" id="date"><%=day %></h1>
	
	<a href="/prevDate">
	<button type="button"class="calendarbtn" id="prevMonth"><</button>
	</a>
	
	<a href="/nextDate">
	<button type="button" class="calendarbtn" id="nextMonth">></button>
	</a>
</div>