        <footer>
            <p>
                <img class="left" src="/LLightning.jpg" alt="LeftL" width="25" height="25">
                Tafadzwa Pasipanodya. Felix Gondwe. Kayla Harrison. Skyler Ng.
                <img class="right" src="/RLightning.jpg" alt="RightL" width="25" height="25">
            </p>
            <p>St. Lawrence University</p>
        </footer>
    </body>
</html>