        <footer>
        <hr />
<<<<<<< HEAD
            <ul class="horizontal_menu">
                <img class="left" src="/LLightning.jpg" alt="LeftL" width="25" height="25">
                <li>Tafadzwa Pasipanodya.</li> 
                <li>Felix Gondwe</li>
                <li> Kayla Harrison</li>
                <li> Skyler Ng</li>
                
                <img class="right" src="/RLightning.jpg" alt="RightL" width="25" height="25">
                
            </ul>
             <ul class="horizontal_menu"><li>St. Lawrence University</li>
             </ul>
           </div>
=======
        <div>
        <img class="left" src="/LLightning.jpg" alt="LeftL" width="25" height="25">
                <p>Tafadzwa Pasipanodya. Felix Gondwe. Kayla Harrison. Skyler Ng.</p> 
        <img class="right" src="/RLightning.jpg" alt="RightL" width="25" height="25">
        </div>
        <p>St. Lawrence University</p>
>>>>>>> b5e9088ea50955090d0743b748b0621abcbcc5fe
        </footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/bootstrap.js"></script>
    </body>
</html>