        <footer class="footer">
        <hr />

            <ul class="horizontal_menu">
                <img class="left" src="/LLightning.jpg" alt="LeftL" width="25" height="25">
                <li>Tafadzwa Pasipanodya</li> 
                <li>Felix Gondwe</li>
                <li> Kayla Harrison</li>
                <li> Skyler Ng</li>
                
                <img class="right" src="/RLightning.jpg" alt="RightL" width="25" height="25">
                
            </ul>
             <ul class="horizontal_menu"><li>St. Lawrence University</li>
             </ul>
           </div>

        </footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/bootstrap.js"></script>
    </body>
</html>