<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale = 1">
                <link rel="stylesheet" href="style.css">
        <title>Lightning</title>
        <img class="logo" src="/logo.png" alt="Lightning" width="200" height="100">
    </head>
    <body>