<<<<<<< HEAD
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale = 1">
                <link rel="stylesheet" href="/style.css">
                <!-- StyleSheet -->
                <link rel="stylesheet" href="/login.css"/>
                <link rel="stylesheet" href="/styles.css"/>
                <link rel="stylesheet" href="/style.css"/>
                <link rel="stylesheet" href="/bootstrap.css"/>
                <link rel="stylesheet" href="/bootstrap-responsive.css"/>
        <title>Lightning</title>
        <img class="logo" src="/logo.png" alt="Lightning" width="200" height="100" href="/">
    </head>
    <body>


=======
<!DOCTYPE html>
<html>
 
<html lang="en">
<head>
 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login-Lighting</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
 
<!-- StyleSheet -->
<link rel="stylesheet" href="login.css"/>
<link rel="stylesheet" href="styles.css"/>
<link rel="stylesheet" href="style.css"/>
<link rel="stylesheet" href="bootstrap.css"/>
<link rel="stylesheet" href="bootstrap-responsive.css"/>

</head>
 
<body>

>>>>>>> dfa20f739ce780b86771e3b107e7b573a6360e1b
