<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <title>Thunder</title>
    </head>
    <body>
        <img src="/Design/logo.jpg" alt="Lightning" width="400" height="200">