<!-- Navigation Bar -->
<nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a href="#" class="navbar-brand" href="#">
            <img src="/logo.fw.png" alt="">
        </a>
    </div>
</nav>
<!-- Navigation Ends -->
