
<div class="navbar navbar navbar-static-top">
  <div class="navbar-inner">
<<<<<<< HEAD
    <ul class="nav navbar-nav">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/noteTab">Notes</a></li>
        <li><a href="/calendarTab">Calendar</a></li>
=======
    <ul class="nav">
        <li class="navlinks"><a href="/profile" >Profile</a></li>
        <li class="navlinks"><a href="/noteTab">Notes</a></li>
        <li class="navlinks"><a href="/calendarTab">Calendar</a></li>
>>>>>>> b5e9088ea50955090d0743b748b0621abcbcc5fe
    </ul>
  </div>
</div>