<nav>
    <ul class="#css">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/note">Notes</a></li>
        <li><a href="/cal">Calendar</a></li>
        
        <!-- Clear indication that you're logged in is that you can logout -->
        <li><a id="logout" href="/logout">Logout</a></li>
    </ul>
</nav>