<div class="navbar navbar navbar-static-top">
  <div class="navbar-inner">
    <ul class="nav">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/noteTab">Notes</a></li>
        <li><a href="/calendarTab">Calendar</a></li>
    </ul>
  </div>
</div>