<div class="navbar navbar navbar-static-top">
  <div class="navbar-inner">
    <ul class="nav">
        <li class="navlinks"><a href="/profile" >Profile</a></li>
        <li class="navlinks"><a href="/noteTab">Notes</a></li>
        <li class="navlinks"><a href="/calendarTab">Calendar</a></li>
    </ul>
  </div>
</div>