
<<<<<<< HEAD
<div class="row-fluid">
        <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star"></span>
        	<a href="/addNote">Create Note</a>
        </button>
        <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star"></span>
        <a href="/allNotes">View Notes</a></button>

=======
<div>
    <ul class="#menu">
        <li><a href="/addNote">Create Note</a></li>
        <li><a id="view" href="/allNotes">View Notes</a></li>
    </ul>
>>>>>>> f921a95963a0d4e36c3446727a91c61c0fcd5b68
</div>