<% include chunks/head %>
<% include chunks/nav_bar %>


<div>
    <form id="addEvent" method="post" action="/addingEvent">
        <fieldset>
            <input type="text" name="name" id="name" placeholder="Event name">
            <input type="text" name="time" id="time" placeholder="Event time">
            <input type="text" name="location" id="location" placeholder="Event location">
            <input id = "event_add" type="submit" value="Add">
        </fieldset>
    </form>
</div>
<% include chunks/foot %>