<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include chunks/note %>

<div>
    <input type="text" name="Note">
    <input type="submit" value="Save">
</div>

<% include chunks/foot %>