<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include note %>

<div>
    <textarea name="Note"></textarea>
    <input type="submit" value="Save">
</div>

<% include chunks/foot %>