<% include chunks/head %>
<% include chunks/nav_bar %>

<% include chunks/noteMenu %>

<div id="pop">
    <form id="addNote" role="form" method="post"  action="/note">
        <fieldset >
            <div class="form-group">
            <input id="addNote_name" type="text"  name="name"  placeholder="Title" required>
    			<label for="name">Note:</label>
    			<textarea id="addNote_content" class="input-xxlarge" rows="20"></textarea>
  			</div>
            <button id="addNote_save" type="submit" class="btn btn-info ">Save</button>
           
        </fieldset>
    </form>
</div>


<% include chunks/foot %>