<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include chunks/noteMenu %>

<div>
    <form method="post" action="/note">
        <fieldset>
            <input type="text" name="name" id="name" placeholder="Note Name" required>
            <textarea name="content" wrap="off" id="content" placeholder="Note" required></textarea>
            <input type="submit" value="Save">
        </fieldset>
    </form>
</div>

<% include chunks/foot %>