<% include note %>

<div>
    <form method="post">
        <textarea wrap="off" id="content" placeholder="Note" required></textarea>
        <input type="submit" value="Save">
    </form>
</div>

<% include chunks/foot %>