<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include chunks/noteMenu %>

<div>
    <form id="addNote" method="post"  action="/note">
        <fieldset>
            <input id="addNote_name" type="text"  name="name"  placeholder="Note Name" required>
            <textarea id="addNote_content" name="content"  wrap="off"  placeholder="Note" required></textarea>
            <input id="addNote_save" type="submit" value="Save">
        </fieldset>
    </form>
</div>

<% include chunks/foot %>