<% include chunks/head %>
<% include chunks/nav_bar %>


<% include chunks/noteMenu %>

<div id="pop">
    <% notes.forEach(function(note) { %>
        <hr/>
            <td><a href="/note/<%= note._id %>"><%= note.name %></a>
            <form method="post" action="/delete">
                <input type="hidden" name="itemid" value="<%= note._id %>">
                <input type="submit" value="Delete">
            </form>
            </td>
    <% }); %>
    <hr/>
</div>

<% include chunks/foot %>