
<table>
    <% notes.forEach(function(note) { %>
        <tr>
            <td><a href=“/note/<%= note._id %>”><%= note.name %></a>
            <p><%= note.content%></p></td>
        </tr>
    <% }); %>
</table>

<% include chunks/foot %>