<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include chunks/noteMenu %>

<table>
    <% notes.forEach(function(note) { %>
        <tr>
            <td><big><b><%= note.name %></b></big>
            <p><small><%= note.content%></small></p>
            <form method="post" action="/delete">
                <input type="hidden" name="itemid" value="<%= note._id %>">
                <input type="submit" value="Delete">
            </form>
            <form method="post" action="/edit">
                <input type="hidden" name="itemid" value="<%= note._id %>">
                <input type="submit" value="Edit">
            </form>
        </tr>
    <% }); %>
</table>

<% include chunks/foot %>