<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include chunks/noteMenu %>

<table>
    <% notes.forEach(function(note) { %>
        <tr>
            <td>
                <a href="/note/<%= note._id %>"><%= note.name %></a>
                <input type="submit" value="Delete">
            </td>
        </tr>
    <% }); %>
</table>

<% include chunks/foot %>