<% include note %>

<table>
    <% notes.forEach(function(note) { %>
        <tr>
            <td><big><b><%= note.name %></b></big>
            <p><small><%= note.content%></small></p>
            <input type="submit" value="Delete">
            </td>
        </tr>
    <% }); %>
</table>

<% include chunks/foot %>