<% include chunks/head %>
<% include chunks/nav_bar %>
<div id="container">
<% include chunks/calendar_menu %>
<% include chunks/calendar %>
</div>
<% include chunks/StuInfo %>
<% include chunks/foot %>