<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include chunks/noteMenu %>

<!-- <table>
    <% notes.forEach(function(note) { %>
        <tr>
            <form method="post" action="/note">
                <fieldset>
                    <input type="text" name="name" id="name" placeholder="Note Name" required>
                    <textarea name="content" wrap="off" id="content" placeholder=Note required></textarea>
                    <input type="submit" value="Save">
                </fieldset>
            </form>
        </tr>
    <% }; %>
</table>-->

<h3><%= note.name %></h3>
    <p><%= note.content %></p>


<% include chunks/foot %>