<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>

<p>Note Menu</p>

<div>
    <ul class="#menu">
        <li><a href="/addNote">Create Note</a></li>
        <li><a href="/edit">Edit Note</a></li>
        <li><a href="/del">Delete Note</a></li>
        <li><a href="/view">View Notes</a></li>
        <li><a href="/save">Save Note</a></li>
        <li><a href="/add">Create Notebook</a></li>
    </ul>
</div>

<div>
    <ul class="#list">
        <li>Bufferring...</li>
    </ul>
</div>
<% include chunks/foot %>