<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>

<p>Note Menu</p>

<nav>
    <ul class="#menu">
        <li><a href="/create">Create Note</a></li>
        <li><a href="/edit">Edit Note</a></li>
        <li><a href="/del">Delete Note</a></li>
    </ul>
</nav>

<% include chunks/foot %>