<% include chunks/head %>
<% include chunks/StuInfo %>
<% include chunks/nav_bar %>
<% include chunks/noteMenu %>

<h3><%= note.name %></h3>
<form method=“post” action=“/note">
    <textarea name=“comment”><%= note.content %></textarea>
    <input type="submit" value="Save">
</form>


<% include chunks/foot %>