<% include note %>

<form method="post" action="/note">
    <input type="text" placeholder="Note Name" required>
    <textarea id="content" placeholder="Note" required></textarea>
    <input type="hidden" name="itemid" value="<%=note._id%>">
    <input type="submit" value="Save">
</form>

<% include chunks/foot %>