<% include chunks/head %>
<% include chunks/nav_bar %>

<table>
    <% notes.forEach(function(note) { %>
        <tr>
            <td><a href=“/note/<%= note._id %>”><%= note.name %></a></td>
        </tr>
    <% }); %>
</table>
