<% include chunks/head %>
<% include chunks/nav_bar %>
<% include chunks/date_menu %>

<table>
    <% events.forEach(function(event) { %>
    
        <tr>
            <td> <a href="/calendar/events/<%=event._id%>"><%= event.name %><%= event.location %><%= event.time %></a></td>
        </tr>
    <% }); %>
</table>

<% include chunks/foot %>