<% include chunks/head %>
<% include chunks/nav_bar %>
<% include chunks/StuInfo %>
<% include chunks/date_menu %>

<table id="day_table">
    <% events.forEach(function(event) { %>
        <tr>
            <td class="day">
                <% include chunks/anEvent %>
                    
                
            </td>
        </tr>
    <% }); %>
</table>

<% include chunks/foot %>