tr {
    height: 100px;
}

#cal table tr td{
    text-align: left;
    width: 14%;
    border: solid;
    border-width: 1px;
    border-color: grey;
}
#calendar{
    vertical-align:top;
    margin: auto;
}
.calendarHeading{
	display: inline;
	list-style-type: none;
	margin-right: 30%;
	margin-left: 30%;

}
.dateHeading{
	display: inline;
	list-style-type: none;
	margin-left: 2%;
	margin-right: 2%;
}
.calendarMenu{
	width: 980px;
	max-width: 980px;
	
}