tr {
    height: 100px;
}
#calendar{
    min-width: 980px;
}

#cal table tr td{
    left: 0px;
    text-align: center;
    vertical-align: top;
    width: 14%;
    border: solid;
    border-width: 1px;
    border-color: grey;
    size: inherit;
}
#cal table tr td div div{  
    text-align: left;
    background-color: #DBFFB8;
    margin: 2px;
    float: left;
    clear: left;
    min-width: 95%;
    color: black;

}
#calendar{
    vertical-align:top;
    margin-left:10%;
}

.calendarHeading{
	display: inline;
	list-style-type: none;
	margin-right: 3%;
	margin-left: 3%;

}
.dateHeading{
	display: inline;
	list-style-type: none;
	margin-left: 1%;
	margin-right: 1%;
}
.calendarMenu{
	max-width: 70%;
        min-width: 70%;
        margin-left: 4%;
}
.calendarbtn{
    position: 
}