
body {
    margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
    margin-left: auto;
    margin right: auto;
    height: 100%;
}
.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom:5px;
}

 ul.horizontal_menu li {
            display: inline;
            list-style-type: none;
            padding: 2px;
            margin: 10px auto;
        }


.footer {
    height: 100px;
    margin: 0 auto;
    text-align:center;
    padding:10px;
}

ul {
    list-style-type: none;
}

.add_note{
    width: 700px;
    border-style:solid;
}
#pop{
    position:relative;
    margin: 50px auto;
    margin-left: 80px;
}

.student{
    float: right;
}
.profile{
    height:50%;
}
.clear{
    height:20%;
}