a {
    color: #FFFFFF;
}

img, input, footer {
    margin-left: auto;
    margin-right: auto;
}



.class {
    float: right;
}
.infor {
    max-width: 30px;
    margin: 10%;
}

fieldset {
    border-color: #8FFC18;
}

body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	margin-left: auto;
	margin-right: auto;
	color: #134C73;
        background-color: #C3D4D6;

}
footer {
    margin: auto;
    text-align: center;
    bottom: 0;
    width: 50%;
}

footer div * {
    display: inline;
}


.left, .right {
    display: inline;
}
