

 ul.horizontal_menu li {
            display: inline;
            list-style-type: none;
            padding: 2px;
        }

ul {
    list-style-type: none;
}
.add_note{
    width: 700px;
    border-style:solid;
}
#pop{
    position:relative;
    margin: 50px auto;
    margin-left: 80px;
}