/* Colors:
 * #134C73
 * #1891BD
 * #C3D4D6
 * #FFFFFF
 * #8FFC18
 **/

a {
    color: #FFFFFF;
}

img, input, footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    float: left;
}

.class {
    float: right;
}

nav {
    display: inline-block;
    clear: both;
    
}

fieldset {
    border-color: #8FFC18;
}

body {
    color: #134C73;
    background-color: #C3D4D6;
}

tr {
    height: 100px;
}

td{
    text-align: right;
    width: 14%;
    border: solid;
    border-width: 1px;
    border-color: black;
}
table{
<<<<<<< HEAD
    width: 100%;
=======
    width: 700px;
>>>>>>> f921a95963a0d4e36c3446727a91c61c0fcd5b68
    border: solid;
    border-width: 1px;
    border-color: black;
    margin: 10px auto;
}

ul {
    list-style-type: none;
}

footer {
    display: table;
    text-align: center;
}

.left, .right {
    display: inline;
}